#root {
  width: 100%;          /* Ensures it spans the full width of the screen */
  max-width: none;      /* Removes the 1280px restriction */
  margin: 0 auto;       /* Keeps it centered horizontally */
  padding: 0;           /* Removes extra padding */
  text-align: center;   /* Keeps the text centered */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
